.feedContainer {
  background: var(--mainBckgr);
  height: 100%;
  display: flex;
  flex-direction: column;

  width: 100vw;
}
.spinnerContainer {
  text-align: center;
}
#loadingSpinner::before {
  color: var(--blueAccent);
  font-size: 3rem;
  animation: flash 1s infinite ease-in-out alternate;
  margin: 1em auto;
}

@keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
