.MobileNavBar {
  background: var(--mainBckgr);
  height: 50px;
  margin: 0%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.35rem;
  position: sticky;
  bottom: 0;
  border-top: 0.5px solid var(--darkGrey);
}

.ri-home-7-fill {
  color: var(--blueAccent);
}

.ri-search-line:hover {
  color: var(--blueAccent);
}

.ri-notification-3-line:hover {
  color: var(--blueAccent);
}

#mailicon {
  color: var(--lightgrey);
}

#mailicon:hover {
  color: var(--blueAccent);
}

@media (min-width: 500px) {
  .MobileNavBar {
    display: none;
  }
}
