.profilePicContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}
.profilePicture {
  background-color: aqua;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.profilePicContainer.small {
  padding: 0.3em;
}
.profilePicContainer.medium {
  padding: 0.3em;
}

.profilePicture.small {
  height: 40px;
  width: 40px;
}
.profilePicture.medium {
  height: 50px;
  width: 50px;
}
