.tweetButton {
  background: var(--blueAccent);
  color: var(--lightGrey);
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  outline: none
}

.tweetButton:disabled{
  background: var(--inactiveIcon);
  color: var(--darkGrey);
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  outline: none
}

.tweetCompose {
  background: var(--mainBckgr) ;
  width: 100%;
  display: none; /* grid */
  grid-template-columns: repeat(7, 7fr);
  grid-template-rows: 1fr 1fr 1fr;
}

.tweetComposeButton {
  justify-items: center;
  grid-row-start: 3;
  grid-column-start: 7;
}

.profilePic {
  grid-row-start: 2;
  grid-column-start: 1;
}
.profilePic {
  height: 49px;
  width: 49px;
  border-radius: 50%;
  padding: 0px 11px 11px 11px;
}

.inputText{
  grid-area: 1 / 2 / 2 / 6;
  width: 100%;
  height: 50px;
}

.inputTextArea {
  width: 100%;
  height: 100%;
  background: var(--mainBckgr);
  color: var(--lightGrey);
  resize: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  border: none;
  outline: none;
  font-size: 15px;
  border-bottom: 0.5px solid var(--darkGrey);
}

.tweetComposeButtons {
  grid-area: 3/ 2/ 3/ 6;
  display: flex;
}

.ri-image-line, .ri-file-gif-line, .ri-bar-chart-2-line, .ri-emotion-happy-line, .ri-calendar-todo-line{
  font-size: 22.5px;
  padding: 0.33em;
  color: var(--blueAccent);
}

.ri-image-line:hover, .ri-file-gif-line:hover, .ri-bar-chart-2-line:hover, .ri-emotion-happy-line:hover, .ri-calendar-todo-line:hover {
  background-color: var(--blueIconHover);
  border-radius: 50%;
}



@media (min-width: 600px) {
  .tweetCompose {
    display: grid;
  }
}

