.App {
  background: var(--secondaryBckgr);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.centralSection {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 600px;
  border-right: 0.5px solid var(--darkGrey);
  border-left: 0.5px solid var(--darkGrey);
}
